<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="
        min-h-screen
        bg-gray-100
        flex flex-col
        justify-center
        relative
        pt-32
        pb-32
      "
    >
      <nav
        class="
          w-full
          h-16
          bg-white
          absolute
          top-0
          flex
          items-center
          justify-between
          px-4
        "
      >
        <h1 class="logo font-bold">Guess It</h1>
        <ul class="social flex items-center justify-around">
          <li class="mx-2">Home</li>
          <li class="mx-2">About</li>
        </ul>
      </nav>

      <div
        class="
          container
          bg-white
          w-4/5
          lg:w-1/4
          p-5
          roudned
          shadow
          mx-auto
          text-center
        "
      >
        <h1 class="text-4xl font-bold">About us</h1>
        <img
          src="https://i.postimg.cc/W1f2GdL2/fre.jpg"
          class="my-3 rounded-lg h-72 mx-auto object-cover"
          alt="Hefni and abdallah"
        />
        <p class="text-center mb-3">We Are geeks and that we are</p>
        <p style="direction: rtl">
          تمت اعمال النقاشه بواسطة محمج الحفني (اللي علي الشمال) و السمكره في
          الخلفيه بواسطة عبدالله
        </p>
      </div>

      <div
        class="
          footer
          absolute
          w-full
          bottom-0
          p-2
          text-center
          font-bold
          bg-white
        "
      >
        made with love by hefni, abdallah
      </div>
    </div>
  </body>
</html>
